
body{

    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    margin: 30px;
}
h1{
    color:#b90707;
}
h2{
    color:#c70ba8;
}
p,li{
    font-size: 18px;
}
.container{

max-width: 600px;
margin:auto;
background:white;
padding:20px;
Border-radius:12px;
box-shadow: 0  0  15px rgba(0,0,0,0.2);
}

img{
width: 100%;
border-radius: 10px;
margin-top:10px;


}

.navbar{
    background-color: white;
    padding:15px 20px;
    border-radius: 12px;
    box-shadow: 0 0  10px rgb(250, 250, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.logo{
color:#b90707 ;
margin: 0;

}

.menu{
list-style: none;
display: flex;
gap: 20px;
margin: 0;
padding: 0;
}

.menu a{
text-decoration: none;
font-weight: bold;
color: #444;
}


.menu a:hover {
color: #b90707;
}

@media(max-width:600px) {

.navbar{
    flex-direction: column;
    text-align: center;
    gap:10px;
}

.menu {
    flex-direction: column;
    gap:10px;
}

.container{
    padding:10px;
}

img{
    border-radius: 5px;
}
}






